<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "1" 
        version     = "0.0.1" >

		<!-- versionCode is optional and Android only -->

		<name>Wort Timer</name>

		<description>
			A mobile web app for homebrewers that allows you to time out the different preparation steps of the homebrewing process.
		</description>

		<author href="https://github.com/moliri/WortTimer/" email="394-TeamPurple@googlegroups.com">
			 Dylan Hirshkowitz, Leesha Maliakal, Zachariah Straight, Haodong Wang, Peiying Zhou, and Daniel Zuo
		</author>

	</widget>